<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your post</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-zinc-900 text-white p-2">
    <div class="flex flex-col  " >
        <div class="flex justify-between " >
            <h1 class="m-5 text-3xl"> <span class="font-light text-zinc-400 animate-pulse " >Welcome, </span> <%= user.name %> </h1>
            <a class="text-sm  mt-0 ml-1  rounded-md  p-1 h-6 hover:bg-red-600 hover:scale-110 text-white bg-red-600 hover:text-blue-500" href="/Logout"> Logout</a>
        </div>
        
                <hr class="border-zinc-800 border-2 hover:border-blue-800 hover:cursor-pointer transition duration-300 rounded-xl">
           
                <h4 class="text-md m-1 p2">
                    <%= user.name %>, you can update your post
                </h4>
                <div class="flex flex-col justify-center items-center">
                <form class="flex flex-col justify-center items-center" method="post" action="/update/<%= post._id %>">
                    <textarea class=" w-[60vw] text-sm md:text-xl h-[20vh] m-3 p-1 resize-none bg-transparent border-2 hover:border-blue-500 outline-none rounded-lg" name="content" placeholder="Edit Your Post"> <%= post.content%> </textarea>
        
                    <input class="px-3 py-3 bg-yellow-500 text-black hover:bg-blue-800 w-150 rounded-md transition duration-300" type="submit" value="Update Your Post">
                </form>
            </div>

</body>

</html> 